# 30th Jan Assignment Solutions

### Write a program to accept percentage from the user and display the grade as per the following

grade = int(input("Enter the percentage"))

if grade > 90:
    print("A")
elif grade > 80 and grade <=90:
    print("B")
elif grade >=60 and grade <= 80:
    print("C")
else:
    print("D")

### 2. Write a program to accept a cost price of the bike and display the road tax to be paid according to the following criteria:

In [6]:
cost_price = int(input("Enter the cost price of the bike"))
a = "Tax to be paid"

if cost_price > 1000000:
    tax_percentage = 0.15
    print("{} is:{}".format(a, cost_price*tax_percentage))
elif cost_price > 50000 and cost_price <=1000000:
    tax_percentage = 0.1
    print("{} is:{}".format(a, cost_price*tax_percentage))
else:
    tax_percentage = 0.05
    print("{} is:{}".format(a, cost_price*tax_percentage))

Enter the cost price of the bike 49000

Tax to be paid is:2450.0

### 3. Accpet any city from the user and display the monuments in that city

In [8]:
city = input("Enter the city")

if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")
else:
    print("Sorry!")

Enter the city Jaipur

Jal Mahal

### 4. Check how many times a given number can be divided by 3 before it becomes less than or equal to 10.

#### The operator // gives the quotient

In [32]:
10//2

5

In [31]:
count = 0
num = int(input("Enter the number"))
while  num > 10 :
    num = num // 3
    count +=1
print("The num {} will be divided {} times before it becomes less than or equal to 10".format(num, count))

Enter the number 72

The num 8 will be divided 2 times before it becomes less than or equal to 10

### 5. Why and when to use a while loop, give a detailed description with an example.

####  while loop is used to do something until a certain condition is met. Once the condition is met. The while loop evaluates the condition. If it is true then the code inside the while loop gets executed. If the condition evaluates to be false, then the loop is exited and then execution stops.

In [21]:
i = 1
n = 5

while i <= n:
    print(i)
    i +=1

1
2
3
4
5

#### In the above example, the variables i and n are initialized to 1 and 5 respectively. Now, the condition inside the while loop will run untill i is less than or equal to n. Once the i becomes greater than n, then the condition is evaluated as False, and then the execution of code under the while loop is terminated.

### 6. Use nested loop to print 3 different pattern

#### Pattern 1

In [33]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("* ",end="")
    print("\r")
for i in range(0,n):
    for j in range(0,n-i-1):
        print("* ",end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

#### Pattern 2

In [34]:
n=5

for i in range(0,n):
    for j in range(0, n-i):
        print("* ", end="")
    print("\r")

* * * * *
* * * *
* * *
* *
*

#### Pattern 3

In [35]:
n=5

for i in range(0,n):
    for j in range(1, i+1):
        num = j
        print(f"{num} ", end="")
    print("\r")

1
1 2
1 2 3
1 2 3 4

#### Pattern 4

####

#### Note: See, in the next for loop, I am only considering the range till i i.e, range(0,i). That is the reason why the first row is skipped from printing a star. This is because, inside the range funtion, the second parameter in the function is not included.

In [39]:
n = 5

for i in range(0,n):
    for j in range(0, i):
        print("* ",end="")
    print("\r")

*
* *
* * *
* * * *

#### Note: In the below code for pattern, there is no extra space added after "*" (the star mark) which is whiy there are no spaces in the pattern.

In [37]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

### Q7. Reverse a while loop to display numbers from 10 to 1

display numbers from 10 to 1

1. Start from 10.
2. Do untill it is 1
3. after 10 decrement by and check if it is equal to 1 or not.
4. If it is equal to 1, then break the loop.

In [9]:
a=10
while a!=0:
    print(a)
    a -=1

10
9
8
7
6
5
4
3
2
1